---
import Layout from '@layouts/base.astro'
import YellowBackground from '@components/YellowBackground.astro'
import Technologies from '@components/Technologies.astro'
import { LoginButton, LogoutButton } from '@components/LoginButton'
import CalendarScriptAndStyles from '@components/CalendarScriptAndStyles.astro'
import TicketCard from '@components/TicketCard.astro'
import TicketFlavours from '@components/TicketFlavours.astro'
import TicketButtons from '@components/TicketButtons.astro'
import ClientSideEffects from '@components/ClientSideEffects'
import { getTicketDataByUsername } from 'src/services/get-ticket'

const { username } = Astro.params
const { data: ticketData, error } = await getTicketDataByUsername(username)

if (error) {
	// hacer un redirect a otra pagina
	console.error(error)
}

const {
	image,
	user_name: userName
} = ticketData

const ogImage = `https://ljizvfycxyxnupniyyxb.supabase.co/storage/v1/object/public/tickets/ticket_${userName}.png?v=${Date.now()}`
---

<style>
	:root {
		--border-card: #0000009e;
		--background-card: #ffffff5e;
		--text-card: #000;
	}
</style>

<Layout image={ogImage}>
	<wc-toast></wc-toast>
	<YellowBackground>
		<CalendarScriptAndStyles />
		<ClientSideEffects image={image} userName={userName} client:visible />
		<LogoutButton client:visible />

		<a href='/' class='absolute flex items-center justify-center font-bold gap-x-2 top-4 left-4 hover:underline hover:text-blue-800'>
			<svg class='w-10 h-10' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-left-circle'><circle cx='12' cy='12' r='10'/><path d='m12 8-4 4 4 4M16 12H8'/></svg>
			Volver a la portada
		</a>

		<div class='grid place-content-center min-h-[110vh] pt-10 pb-20'>
			<Technologies />

			<div class='grid xl:grid-cols-[minmax(900px,_1fr)_250px] max-w-7xl gap-4'>
				<div class='flex flex-col items-center justify-center'>
					<TicketCard />
					<TicketButtons />
				</div>

				<div id='get-your-ticket' class='relative flex-col justify-center hidden h-auto'>
					<div>
						<LoginButton redirect={false} client:visible />
					</div>
				</div>

				<TicketFlavours />
			</div>
		</div>
	</YellowBackground>
</Layout>
