---
import '../global.css'

const {
	dark = true,
	title = 'miduConf - Conferencia en remoto de Desarrollo y Programación Web',
	description = '¡Descubre las últimas tendencias de desarrollo y programación web de la mano de gente tremenda y GRATIS!',
	image = 'https://miduconf.com/og.jpg'
} = Astro.props
---

<html lang='es' class:list={[{ 'bg-zinc-900': dark }, 'scroll-smooth']}>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<title>{title}</title>
		<meta name='description' content={description} />
		<meta name='theme-color' content='#fff600' />
		<link rel='icon' href='/favicon.svg' type='image/svg+xml' />
		<link rel='mask-icon' href='/mask-icon.svg' color='#000000' />

		<meta property='og:url' content='https://miduconf.com' />
		<meta property='og:type' content='website' />
		<meta property='og:title' content={title} />
		<meta property='og:description' content={description} />
		<meta property='og:image' content={image} />

		<meta name='twitter:card' content='summary_large_image' />
		<meta name='twitter:site' content='@midudev' />
		<meta name='twitter:creator' content='@midudev' />
		<meta name='twitter:title' content={title} />
		<meta name='twitter:description' content={description} />
		<meta name='twitter:image' content={image} />

		<script src='https://cdn.usefathom.com/script.js' data-site='RCIEAOAU' defer></script>
	</head>

	<body>
		<slot />
		<div
			class='pointer-events-none absolute inset-0 h-screen bg-[radial-gradient(ellipse_80%_50%_at_50%_-20%,rgba(120,119,198,0.2),rgba(255,255,255,0))] dark:bg-[radial-gradient(ellipse_80%_50%_at_50%_-20%,rgba(120,119,198,0.2),rgba(255,255,255,0))]'
		>
		</div>
		<svg
			aria-hidden='true'
			class='pointer-events-none absolute inset-0 w-screen fill-black/[.06] stroke-black/[.06] dark:fill-white/[.06] dark:stroke-white/[.06] [mask-image:linear-gradient(to_bottom_right,white,transparent,transparent)] inset-x-0 -top-[1rem] -z-50 h-[80%] skew-y-12'
			><defs
				><pattern id=':S1:' width='80' height='80' patternUnits='userSpaceOnUse' x='-1' y='-1'
					><path d='M.5 80V.5H80' fill='none' stroke-dasharray='0'></path>
				</pattern>
			</defs><rect width='100%' height='100%' stroke-width='0' fill='url(#:S1:)'></rect>
		</svg>
	</body>
</html>
